<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html lang="ja">
  <head>
	<meta http-equiv="Content-type" content="text/html; charset=SHITF_JIS" />
	<title>Web page title</title>
	<meta name="keywords" content="キーワード,カテゴリ" />
	<meta name="robots" content="index,follow" />
	<meta name="description" content="サイトの内容の簡単な説明" />
	<meta name="author" content="name" />
	<link rev="made" href="mailto:mail@example.com" />
	<link rel="next" href="next.html" />
	<link rel="prev" href="prev.html" />
	<link rel="index" href="index.html" />
	<link rel="contents" href="/" title="toc" />
	<link rel="help" href="/info/help" />
	<link rel="copyright" href="/info/disclaimer" />
	<link rel="stylesheet" type="text/css" media="screen" href="screen.css" />
	<link rel="stylesheet" type="text/css" media="print" href="print.css" />
  </head>
  <body>
	<p>
	  Content body.<br />
	  内容。<br />
	</p>
  <address>
	Auther: <a href="mailto:webmaster@example.com">Example Co.</a> , UPDATE: YYYY-MM-DD
  </address>
  </body>
</html>
